@use "../abstracts/colors" as colors;

.cart-view {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 1rem;

    .cart-item-container {
        min-height: 65rem;
        max-height: 65rem;
        overflow-y: auto;
        background-color:colors.$BackgroundSecondary;
        
    }

  
    h2 {
        padding-top: 1rem;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
}