h1 {
    margin: 0; 
    text-align: center; 
    font-family: 'Inter';
    font-size: 26px;
  }

.headerDefault {
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 80px; 
  
    .btnDefault-container {
      position: absolute; 
      top: 0; 
      left: 0; 
    }
  }

  .headerCart {
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 80px; 
  
  
    .btnCart-container{
        position: absolute; 
      top: 0; 
      right: 0;
    }
  }