@use '../abstracts/colors' as color;

h1 {
   margin: 0;
   text-align: center;
   font-family: 'Inter';
   font-size: 26px;
}

header {
   display: flex;
   justify-content: center;
   padding: 2rem 1rem;
   .headerDefault {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
   }
   .btnCart-container {
      position: absolute;
      right: 0;
      align-self: center;
      .number-of-cart-items {
         position: absolute;
         left: 70%;
         top: 10%;
         background-color: color.$cart-dot;
         color: black;
         font-weight: bold;
         text-align: center;
         width: 1.5rem;
         height: 1.5rem;
         border-radius: 2rem;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }
   .btnChange-container {
      position: absolute;
      left: 0;
      align-self: center;
   }
}

/* .headerDefault {
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 80px; 
  
    .btnDefault-container {
      position: absolute; 
      top: 0; 
      left: 0; 
    }
  }

  .headerCart {
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 80px;
  } */
