@use '../abstracts/colors' as colors;

.category-rule {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 1.6rem;
   margin-bottom: 3rem;
   .category-container {
      width: 100%;
      min-height: 1rem;
      display: flex;
      justify-content: center;
      * {
         transition: 0.1s;
      }
      .category-price {
         display: flex;
         align-items: center;
         justify-content: space-between;
         gap: 15rem;
         border-bottom: 1px solid black;
         h2 {
            width: 40vw;
            font-weight: 600;
            letter-spacing: 0.4rem;
         }
         p {
            font-weight: 400;
            letter-spacing: 0.01rem;
         }
      }
   }
   .rule-arrow {
      display: flex;
      flex-direction: row;
      hr {
         width: 80vw;
         height: 1px;
         align-self: center;
         background-color: colors.$Secondary;
         border: none;
      }
   }
}

.accordion-inactive {
   transform: rotate(90deg);
}
